In [30]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [76]:
df_covid=pd.read_csv("covid data.csv")
df_covid.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [32]:
df_covid.shape

(61900, 12)

In [22]:
df_covid.describe().T

,count,mean,std,min,25%,50%,75%,max
day,61900.0,1.562893e+01,8.841582e+00,1.000000,8.000000e+00,1.500000e+01,2.300000e+01,3.100000e+01
month,61900.0,7.067157e+00,2.954776e+00,1.000000,5.000000e+00,7.000000e+00,1.000000e+01,1.200000e+01
year,61900.0,2.019999e+03,3.288217e-02,2019.000000,2.020000e+03,2.020000e+03,2.020000e+03,2.020000e+03
cases,61900.0,1.155147e+03,6.779224e+03,-8261.000000,0.000000e+00,1.500000e+01,2.730000e+02,2.346330e+05
deaths,61900.0,2.605546e+01,1.312271e+02,-1918.000000,0.000000e+00,0.000000e+00,4.000000e+00,4.928000e+03
popData2019,61777.0,4.098770e+07,1.531294e+08,815.000000,1.293120e+06,7.169456e+06,2.851583e+07,1.433784e+09
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,59021.0,6.632059e+01,1.623292e+02,-147.419587,7.575262e-01,6.724045e+00,5.257272e+01,1.900836e+03

In [24]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

In [26]:
df_covid.isnull().sum()

dateRep                                                          0
day                                                              0
month                                                            0
year                                                             0
cases                                                            0
deaths                                                           0
countriesAndTerritories                                          0
geoId                                                          275
countryterritoryCode                                           123
popData2019                                                    123
continentExp                                                     0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    2879
dtype: int64

In [57]:
df_covid.drop(['dateRep','year','countriesAndTerritories','geoId','countryterritoryCode'],axis=1,inplace=True)

In [58]:
df_covid

,day,month,cases,deaths,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14,12,746,6,38041757.0,Asia,9.013779
1,13,12,298,9,38041757.0,Asia,7.052776
2,12,12,113,11,38041757.0,Asia,6.868768
3,11,12,63,10,38041757.0,Asia,7.134266
4,10,12,202,16,38041757.0,Asia,6.968658
...,...,...,...,...,...,...,...
61895,25,3,0,0,14645473.0,Africa,NaN
61896,24,3,0,1,14645473.0,Africa,NaN
61897,23,3,0,0,14645473.0,Africa,NaN
61898,22,3,1,0,14645473.0,Africa,NaN
61899,21,3,1,0,14645473.0,Africa,NaN

In [74]:
continetE_num={'Asia':0,'Europe':1,'Africa':2,'Oceania':3,'America':4}
df_covid['continetE_num']=df_covid['continentExp'].map(continetE_num)

In [75]:
df_covid

,day,month,cases,deaths,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,continetE_num
0,14,12,746,6,38041757.0,NaN,9.013779,NaN
1,13,12,298,9,38041757.0,NaN,7.052776,NaN
2,12,12,113,11,38041757.0,NaN,6.868768,NaN
3,11,12,63,10,38041757.0,NaN,7.134266,NaN
4,10,12,202,16,38041757.0,NaN,6.968658,NaN
...,...,...,...,...,...,...,...,...
61895,25,3,0,0,14645473.0,NaN,NaN,NaN
61896,24,3,0,1,14645473.0,NaN,NaN,NaN
61897,23,3,0,0,14645473.0,NaN,NaN,NaN
61898,22,3,1,0,14645473.0,NaN,NaN,NaN
61899,21,3,1,0,14645473.0,NaN,NaN,NaN

In [54]:
df_covid.iloc[338:500,10]

338      Asia
339      Asia
340    Europe
341    Europe
342    Europe
        ...
495    Europe
496    Europe
497    Europe
498    Europe
499    Europe
Name: continentExp, Length: 162, dtype: object